.navBar{
    display: flex;
    justify-content: space-between;
    background-color: rgba(202, 211, 249, 1);
}
.navBar__title{
    font-family: "Inter";
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
    
}

.navBar__link{
    margin-top: 1.7rem;
}
.navBar__home{
    margin-right: 1rem;
    margin-top: 1rem;
    color: white;
    font-family: "Inter";
}
.navBar__fav{
    margin-right: 0.5rem;
    color: white;
    font-family: "Inter";
}

@media screen and (min-width: 1000px){


.navBar__fav{
    margin-right: 3rem;
    color: white;
    font-family: "Inter";
}
.navBar__home{
    margin-right: 2rem;
    color: white;
    font-family: "Inter";
}

}