


.images{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1rem;
    position: relative;
}
.images__random{
    border-radius: 6%;
    max-width: 100%;
    
}
.buttonsImages{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4%;
    right: 12%;
}
.likeButton{
    background-color:rgba(115, 165, 173, 1);
    border-radius: 15%;
    width: 2.5rem;
    height: 2.5rem;
    border:transparent;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}
.favButton{
    background-color:rgba(115, 165, 173, 1);
    border-radius: 15%;
    width: 2.5rem;
    height: 2.5rem;
    border: transparent;
    
}
.buttonFavs{
    background-color:rgba(115, 165, 173, 1);
    border-radius: 15%;
    width: 2.5rem;
    height: 2.5rem;
    border:transparent;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    
}

@media screen and (min-width: 1000px){

.imagesBody{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color:rgba(115, 165, 173, 1);
    position: relative;
    padding-top: 5rem;
}
.buttonsImages{
   right: 9%;
}
.images__random{
    max-width: 20rem;
}
.favSelect{
    position: absolute;
    top: 1%;
    right: 50%;
}
}